body {
	font-family: "Arial";
}

h1 {
	color: #3A3;
}

a {
	text-decoration: none;
}

a:hover {
	text-decoration: underline;
}

.interface {
	text-align: center;
}

#response>li {
	margin-left: 100pt;
	margin-bottom: 15pt;
}